* {
  background-color: #fff1e6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
}

 .nav-content {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .logo a {
  font-weight: bold;
  font-size: 35px;
  color: #000000;
}

.nav-content .nav-links {
  display: flex;
  padding-top: 20px;
}

.nav-content .nav-links li {
  list-style: none;
  margin: 0 8px;
}

.nav-links li a {
  text-decoration: none;
  color: #0E2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}

.button {
  background-color: black;
  border-radius: 12px;
  color: white;
  padding: 6px 8px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  margin: 4px 2px;
}

/* Styles for the <h1> element */
h1 {
  font-size:100px;
  align-items:center;
  padding-top: 100px;
  padding-left: 80px;
}
h2{
  align-items:center;
  padding-top: 30px;
  padding-left: 80px;
  font-size: x-medium;
  font-weight: 100;
}


/* Footer Styles */
/* footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
} */
